body {
  background-image: linear-gradient(90deg, #fddb92 0%, #d1fdff 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  max-width: 760px;
  width: 90%;
}

.input-form {
  display: flex;
}

.input-form input {
  flex: 1;
}

.todo-list {
  min-width: 60%;
  padding-inline-start: 0;
  list-style: none;
}

.todo-list li {
  margin: 0.5rem;
  font-size: 1.5rem;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-list li span {
  flex: 1;
}

.todo-content {
  padding: 0rem 0.5rem;
  margin: 0 1rem;
  word-break: break-all;
}

.todo-content input {
  width: 100%;
}

.input-form {
  border: none;
  margin: 0.5rem;
  font-size: 1.5rem;
}